fastapi
uvicorn
gunicorn
pydantic==2.11
supabase
google-generativeai
psycopg2-binary
llama-index-core
llama-index-embeddings-gemini
python-dotenv
openai==1.97.2
pydantic-settings==2.10.1
accelerate
pydantic[email]
